# USB AUDIO configuration options

# Copyright (c) 2020 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config USB_DEVICE_AUDIO
	bool "USB Audio Device Class Driver"
	help
	  USB audio device class driver

if USB_DEVICE_AUDIO

config USB_AUDIO_DEVICE_NAME
	string "USB AUDIO device name template"
	default "AUDIO"
	help
	  Device name template for the AUDIO Devices.
	  Headphones device would have name
	  $(USB_AUDIO_DEVICE_NAME)_HP_0.
	  Microphone device would have name
	  $(USB_AUDIO_DEVICE_NAME)_MIC_0.
	  Headset device would have name
	  $(USB_AUDIO_DEVICE_NAME)_HS_0.

module = USB_AUDIO
module-str = USB Audio
source "subsys/logging/Kconfig.template.log_config"


module = USB_AUDIO_HEADPHONES
default-count = 0
source "subsys/usb/class/Kconfig.template.composite_device_number"

module = USB_AUDIO_MICROPHONE
default-count = 0
source "subsys/usb/class/Kconfig.template.composite_device_number"

module = USB_AUDIO_HEADSET
default-count = 0
source "subsys/usb/class/Kconfig.template.composite_device_number"

endif #USB_DEVICE_AUDIO
